<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      {% if request.user.is_shop_incharge %}
      <a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">M O R</a>
      {% else %}
      <a class="navbar-brand" href="/dashboard/">M O R</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          {% if request.user.is_shop_incharge %}
          <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Home</a>
          {% else %}
          <a class="nav-link" href="/dashboard">Home</a>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Leaves
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              {% if request.user.is_supervisor or request.user.is_shop_incharge %}
              <li><a class="dropdown-item" href="{% url 'dashboard:leaveslist' %}">All Leaves</a></li>
              <li><a class="dropdown-item" href="{% url 'dashboard:pendingleaveslist' %}">Waiting Leaves</a></li>
              <li><a class="dropdown-item" href="{% url 'dashboard:approvedleaveslist' %}">Approved Leaves</a></li>
              <li><a class="dropdown-item" href="{% url 'dashboard:leavesrejected' %}">Rejected Leaves</a></li>
              {% endif %}
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Men On Roll
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              {% if request.user.is_shop_incharge or request.user.is_supervisor %}
              <li><a class="dropdown-item" href="{% url 'dashboard:employees' %}">Men On Roll</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'LMS:register' %}">Create Man On Roll</a></li>
            </ul>
          </li>
        </ul>

        <!-- <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">{{request.user.Current_Shop}} - {{request.user.Cost_Center_Name}}</span>
        </div> -->
      
        <div class="navbar-nav ms-auto">
          <span class="navbar-text text-white">
            {% if request.user.is_shop_incharge %}
              {{request.user.Ticket_No}}  ( Shop - {{request.user.Current_Shop}} )
            {% elif request.user.is_supervisor %}
            {{request.user.Ticket_No}}  ( {{request.user.Current_Shop}} - {{request.user.Cost_Center_Name}} )
            {% endif %}
          </span>
          <span class="navbar-text text-white">
            
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user.Complete_Name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'LMS:changepassword' %}">Change Password</a></li>
              <li><a class="dropdown-item" href="{% url 'LMS:logout' %}">Logout</a></li>
              {% endif %}
            </ul>
          </li>

        </div>
      </div>
    </div>
  </nav>